{
    "presets": [
      "@babel/env"
    ],
    "plugins": [
      ["@babel/transform-react-jsx", {
        "runtime": "automatic", // defaults to classic
        "importSource": "preact"
     }]
    ]
}
