/* slightly reduce comment height */
li.tool__lib-comment, span.lib-comment__text > div.processed-text {
    --us-height-override: 30px;
    height: var(--us-height-override) !important;
    line-height: var(--us-height-override) !important;
}

/* increase default comment library width */
.grading-toolbar__submenu--library {
    width: 236px;
}



.cmt-waiting-for-digit {
    .grading-sidebar__evaluation .evaluation__score-block {
        border-color: red;
    }
}

@for $i from 1 through 9 {
    li.tool__lib-comment:not(.lib-comment--no-comment):nth-of-type(#{$i})::before {
        display: block;
        content: '#{$i - 1}';
        position: absolute;
        right: 4px;
        bottom: 4px;
        background-color: #444;
        padding: 1px;
        border: 1px #777 solid;
        line-height: normal !important;
    }
}

.cmt-grading-timer {
    background-color: black;
    font-family: monospace;
    color: green;
    font-size: 24px;
    text-align: center;
    &.cmt-grading-timer-lagging {
        color: red;
    }
}

/* Hack to suppress Crowdmark virtualizing the comment list */
.cmt-comment-virtualization-workaround {
    resize: both;
    position: absolute;
    top: 56px;
    left: 0;
    > .grading-toolbar__submenu--library {
        resize: none;
        height: initial !important;
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
    }
    width: 236px;
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 2px transparent solid;
}

.cmt-waiting-for-comment-idx {
    .cmt-comment-virtualization-workaround {
        border-color: red;
    }
}


#cmt-ai-assist-popover {
    position: fixed;
    right: 240px;
    top: 5rem;
    background-color: #222;
    color: white;
    border-radius: 1rem;
    width: 600px;
    height: 400px;
    z-index: 1000;
    overflow-y: auto;
    padding: 1em;
    font-size: 14px;
    p {
        margin-bottom: 0.5em;
    }
}

/* raise comments being edited above others */
.cm-comment.is-editing {
    z-index: 100;
}