/* slightly reduce comment height */
li.tool__lib-comment, span.lib-comment__text > div.processed-text {
    --us-height-override: 30px;
    height: var(--us-height-override) !important;
    line-height: var(--us-height-override) !important;
}

/* increase default comment library width */
.grading-toolbar__submenu--library {
    width: 236px;
}



.cmt-waiting-for-digit {
    .grading-sidebar__evaluation .evaluation__score-block {
        border-color: red;
    }
}

.cm-tweaks-comment-macro-indicator-container {
    display: none;
    .cmt-waiting-for-comment-idx & {
        display: flex;
    }
    position: absolute;
    right: 4px;
    bottom: 50%;
    transform: translateY(50%);
}

.cm-tweaks-comment-macro-indicator {
    display: block;

    padding: 1px;
    margin: 0 2px;
    line-height: normal !important;
    background-color: #ccc;
    border: 1px #777 solid;
    /* dark mode */
    [data-darkreader-scheme="dark"] & {
        background-color: #444;
    }
}

.cmt-grading-timer {
    background-color: black;
    font-family: monospace;
    color: green;
    font-size: 24px;
    text-align: center;
    &.cmt-grading-timer-lagging {
        color: red;
    }
}

/* Hack to suppress Crowdmark virtualizing the comment list */
.cmt-comment-virtualization-workaround {
    resize: both;
    position: absolute;
    top: 56px;
    left: 0;
    display: flex;
    flex-direction: column;
    > .grading-toolbar__submenu--library {
        resize: none;
        height: initial !important;
        position: static;
        width: 100% !important;
        flex: 1 0 auto;
        border-radius: 0;
    }
    width: 236px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 2px transparent solid;
    border-radius: 4px;
}

.cmt-waiting-for-comment-idx {
    .cmt-comment-virtualization-workaround {
        border-color: red;
    }
}

.cm-tweaks-comment-search li.tool__lib-comment:not(.cm-tweaks-search-matches) {
    display: none;
}

#cmt-ai-assist-popover {
    position: fixed;
    right: 240px;
    top: 5rem;
    background-color: #222;
    color: white;
    border-radius: 1rem;
    width: 600px;
    height: 400px;
    z-index: 1000;
    overflow-y: auto;
    padding: 1em;
    font-size: 14px;
    p {
        margin-bottom: 0.5em;
    }
}

/* raise comments being edited above others */
.cm-comment.is-editing {
    z-index: 100;
}

.cm-tweaks-fast-grading-switch-enabled {
    .grading-canvas__container > .grading-canvas__item:not(.is-active) {
        display: none;
    }
}

.cm-tweaks-prefetched-image-holder {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    visibility: hidden;
    pointer-events: none;
}

.cm-tweaks-search-visual {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    display: none;
    .cmt-waiting-for-comment-idx & {
        display: block;
    }

    color: white;
    font-weight: bold;
    /* dark mode */
    [data-darkreader-scheme="dark"] & {
        background-color: #444;
    }
}

.cmt-settings-dialog-split-pane {
    display: flex;
    .cmt-settings-dialog-tabs {
        flex: 0;
        padding: 1rem;
        .cmt-active-tab {
            font-weight: bold;
        }
    }
    .cmt-settings-dialog-component {
        flex: 1 1 auto;
        padding: 1rem;
    }
}

.cmt-settings-component-list {
    margin-top: 30px;
    > li {
        border-bottom: 1px gray solid;
        padding: 0.5rem 0;
        display: flex;
        align-items: center;
        .cmt-list-item-name {
            flex: 1 1 auto;
        }
        .keybind-char {
            flex: 0;
            min-width: 4rem;
            text-align: center;
            font-size: 1.25em;
            cursor: pointer;
            &.remapping {
                color: yellow;
            }
        }
    }
}